@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Curso Git Y Git Hub </h1>
    <p>Text text</p>
    <h4>Subtitulo 4</h4>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>

    <div style="background-color: blue; width: 400px; height: 400px;"></div>


</div>
